.homePage{
  height: 50vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.header{
  height: 100px;
  width: 100vw;
  background-color: cadetblue;
  color: white;
}

.register{
  height: 50vh;
  width: 100vh; 
  background-color: coral;
}

.about{
  height: 50vh;
  width: 100vw;
  background-color: cornsilk;
}

.contact{
  height: 50vh;
  width: 100vw;
  background-color: crimson;
}

.dashboard{
  height: 50vh;
  width: 100vw;
  background-color: cyan;
}

.quote{
  color: white;
  font-size: 65px;
}

.nav{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: darkblue;
  color: white;
}

.dashboard{
  background-color: darkgray;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}